language: java
jdk:
  - oraclejdk8
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update
  - sudo apt-get install libstdc++-4.9-dev -y
  - git clone https://github.com/thomasdeanwhite/Scythe.git
  - cd Scythe
  - git checkout f76f68ed6739b3e0c55865c68a13b39f6c01b5a3
  - mvn clean install
  - popd
  - pushd lib
  - mvn install:install-file -Dfile=LeapJava.jar -DgroupId=com.leapmotion -DartifactId=leapmotion.sdk -Dversion=1.0 -Dpackaging=jar
  - popd
script:
  - mvn clean test jacoco:report coveralls:report